 *,
*::after,
*::before {
    box-sizing: border-box;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

input:focus-visible {
    outline: none;
}



.container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}



body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
}

.feedback-form {
    padding: 24px;
    width: 408px;
    background-color: #808080;
    border-radius: 8px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

input, textarea {
border-radius: 4px;
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #808080;
}

button {
    height: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 8px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    background: #4e75ff;
}

textarea {
  resize: none;
}